DATABASE_URL="postgresql://postgres:secret@ace-development.ru:5432/db?schema=public"

NEXTAUTH_URL="http://ace-development.ru:3000"
NEXTAUTH_SECRET="sUWsh/M+9A7zO3N0Dl+cXPehMH1U1Y+eRXPrAt8xT60="

GOOGLE_CLIENT_ID="348248378570-ovjn3v9r2tbc0t3j1eaqu5s03a2nrdsd.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"