DATABASE_URL="postgresql://postgres:secret@ace-development.ru:5432/db?schema=public"

NEXTAUTH_URL="http://ace-development.ru:3000"
NEXTAUTH_SECRET="sUWsh/M+9A7zO3N0Dl+cXPehMH1U1Y+eRXPrAt8xT60="

GOOGLE_CLIENT_ID="937967056612-6hnbs2ojds0qb339s3ja30n821to7u7e.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"