DATABASE_URL="postgresql://postgres:secret@ace-development.ru:5432/db?schema=public"

NEXTAUTH_URL="http://ace-development.ru:3000"
NEXTAUTH_SECRET="sUWsh/M+9A7zO3N0Dl+cXPehMH1U1Y+eRXPrAt8xT60="

GOOGLE_CLIENT_ID="348248378570-ovjn3v9r2tbc0t3j1eaqu5s03a2nrdsd.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
MAILRU_CLIENT_ID="9cd5d4d9a9da45a3b566914eb4e09458"
MAILRU_CLIENT_SECRET="40a32360245446069db5c5d954f8ab8c"
VK_CLIENT_ID="CnhwCGvXxDMtFenokTvP"
VK_CLIENT_SECRET="a98db708a98db708a98db708d1aa9ea512aa98da98db708cd9c3f11092d240b7af8bf3b"